# Зависимости
node_modules/
.pnp
.pnp.js
yarn.lock
package-lock.json
pnpm-lock.yaml

# Сборка
dist/
dist-ssr/
build/
*.local
.tsc-out/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Тестирование и покрытие
coverage/
__snapshots__/
*.lcov
.nyc_output/

# Инструменты анализа (Rollup Visualizer)
jsdomExtended-bundle-analysis.html
stats.html

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Редактор (WebStorm/IntelliJ IDEA)
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.vscode-test/
*.code-workspace

# Временные файлы
*.tmp
*.temp
.env
.env.local
.env.*.local

# Операционная система
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# yarn/pnpm
.pnpm-store/
.yarn/cache
.yarn/unplugged

# Прочее
*.swp
*.swo
*~
.cache/
.turbo/
